/* If you want tailwind 'base' styles to override 'webflow' styles, re-order the layers */
@layer properties, theme, base, webflow, components, utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

ul{
  list-style-type: none;
}

body {
  font-family: "Bellota Text", sans-serif;
}

.container{
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px;
}

header{
  position: sticky;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
  background-image:linear-gradient(#fff6b2,#fffbf6) ;
}

.logo-img{
  width: 100%;
  height: 100%;
  max-width: 200px;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header-list{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header-link{
  font-size: 16px;
  font-weight: 600;
  color: #280a03;
}

.search-input{
  width: 100%;
  padding: 10px 20px;
  height: auto;
  border: 1px solid #00000063;
  border-radius: 30px;
  outline: none;
}

.search-input::placeholder{
  color: rgb(177, 171, 171);
  font-size: 16px;
}

.form-input-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.form-input-content{
  position: relative;
}

.form-input-content svg{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}